.image-slider{
    //display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    .slideshow-container{
        .slideshow{
            margin: 0 auto;
            .slideshow-list{
                .slide{
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}

#mobile-slideshow{
    display: none;
}

#mobile-slideshow{
    li{
        div{
            position: absolute;
            display: inline-block;
        }
    }

    .first-slide{
        div{
            top: 50%;
            left: 55%;
        }
    }

    .second-slide{
        div{
            top: 60%;
            left: 20%;

            p{
                text-align: right;
            }
        }
    }

    .third-slide{
        div{
            top: 30%;
            left: 30%;
        
            p{
                text-align: right;
            }
        }
    }

    .fourth-slide{
        div{
            top: 20%;
            left: 20%;
        }
    }
}

.slideshow{
    li{
        div{
            position: absolute;
            display: inline-block;
        }
    }

    .first-slide{
        div{
            top: 234px;
            left: 373px;
        }
    }

    .second-slide{
        div{
            top: 274px;
            left: 116px;

            p{
                text-align: right;
            }
        }
    }

    .third-slide{
        div{
            top: 170px;
            left: 224px;
        
            p{
                text-align: right;
            }
        }
    }

    .fourth-slide{
        div{
            top: 100px;
            left: 112px;
        }
    }
}