.dark{ // BODY
    background: var(--black);
    color: var(--white);

    .info-title{
        color: var(--green);
    }

    
    section.info .container .info-text-container{
        color: var(--green);
        
        .info-text{
            border-color: var(--white);
        }
    }

    section.half-split .half-split-container div{
        background: var(--black);
    }
}

/*@media (prefers-color-scheme: dark) {
    body{
        background: var(--black);
        color: var(--white);

        .info-title{
            color: var(--green);
        }

        
        section.info .container .info-text-container{
            color: var(--green);
            border-color: var(--green);
        }
    }
}*/