*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html{
    scroll-behavior:smooth
}

body{

    scroll-snap-type: y mandatory;
    font-family: 'Inter', sans-serif;

    header{
        position: fixed;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 25px 35px;
        z-index: 2;
        transition: all .3s linear;
        color: white;

        &.scrolled{
            background: rgba(0,0,0, .6);
        }

        .logo{

        }

        nav{
            .nav-list{
                list-style-type: none;
                display: flex;
                align-items: center;
                .nav-item{
                    display: inline-block;
                    margin: 0 10px;
                    text-transform: uppercase;
                    cursor: pointer;

                    &.search{
                        display: flex;
                        align-items: center;

                        img{
                            width: 24px;
                            height: 24px;
                        }
                    }

                    &.active{
                        font-weight: 700;
                    }
                }
            }
        }
    }

    section{
        scroll-snap-align: start;
        height:100vh;
        max-height: 100vh;

        &.hero{
            position: relative;
            .hero-img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }

            .hero-meta{
                position: absolute;
                top: 50%;
                left: 40px;
                transform: translate(0, -50%);
                color: white;

                .hero-title{
                    font-size: 60px;

                    .hero-normal{
                        font-weight: normal;
                    }

                    .hero-bold{
                        font-weight: bold;
                    }
                }

                .hero-button{
                    font-size: 20px;
                    padding: 6px 84px;
                    border: none;
                    background-color: white;
                    margin-top: 40px;
                    cursor: pointer;
                }
            }

            .down-button{
                position: absolute;
                bottom: 60px;
                left: calc(50% - 25px);
                background-image: url("/public/img/down-btn.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 50px;
                height: 50px;
                cursor: pointer;
            }
        }

        &.info{
            display: flex;
            align-items: center;
            justify-content: center;
            .container {
                display:grid;
                grid-template-areas: 'img1 bigText bigText''img2 info1 info2';
                grid-auto-columns: auto 1fr 1fr;
                align-items: center;
                gap:1em;
                padding: 1em;
                background-color: blue;
                img:last-of-type{
                    grid-area:img2;
                }
                h3 {
                    grid-area: bigText;
                    font-size: 3em;
                }
            }
        }

        &.three-split{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            grid-template-rows: 1fr;

            .split{
                height: 100vh;
                position: relative;

                .split-title{
                    position: absolute;
                    bottom: 50px;
                    left: 60px;
                    font-size: 39px;
                    font-weight: bold;
                }

                .split-text{
                    position: absolute;
                    top: 45px;
                    left: 60px;
                    font-size: 32px;
                    font-weight: bold;
                }

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }
}