// ==START TABLET==
// #region
@media screen and (max-width: 1200px) {
    body {
        section{
            &.small-slideshow{

                .slideshow-container{
                    padding: 0 !important;

                    #small-slideshow{
                        display: none !important;
                    }

                    #mobile-slideshow{
                        display: block !important;
                    }
                }
            }
            &.info{
                .container{
                    grid-template-areas:'bigText' 'info1' 'info2' 'img1' 'img2' ;
                    
                    .info-text-container {
                        border-top: none;
                        border-bottom: 1px solid var(--black);
                        padding-bottom: 10px;
                        .info-text{
                            font-size: 1.5em;
                        }
                    }
                    img {
                        width:100%;
                    }
                    img:first-of-type{
                        grid-area: img1;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 850px) {
    section:not(.hero){
        min-height: unset;
    }
    
    .big-img{
        padding: 50px 0;
    }
}

@media screen and (max-width: 768px) {
    section{
        &.half-split{
            flex-direction: column !important;
            
            .split{
                width: 100%;
            }

            div{
                p{
                    font-size: 120px !important;
                }
            }
        }

        &.three-split{
            grid-template-columns: 1fr !important;
            grid-template-rows: repeat(3, 1fr) !important;
        }

        &.big-img{
            img{
                padding: 0 !important;
                width: 100% !important;
                max-width: 100% !important;
            }
        }
    }
}

@media screen and (max-width: 920px) {
    section{
        &.half-split{
            div{
                p{
                    font-size: 90px !important;
                }
            }
        }
    }
}

@media screen and (max-width: 730px) {
    section{
        &.half-split{
            div{
                p{
                    font-size: 60px !important;
                }
            }
        }
    }
}

@media screen and(max-width: 640px) {
    nav{
        .hamburger{
            display: inline-block !important;
        }

        .nav-list{
            display: none !important;
        }
    }

    .image-slider{
        display: none !important;
    }

    .down-button{
        bottom: 10px !important;
    }
}
// #endregion
// ==END TABLET==

// ==START MOBILE==
// #region
@media screen and (max-width: 320px) {
    
}
// #endregion
// ==END MOBILE==