// ==START TABLET==
// #region
@media screen and (max-height: 750px){
    body{
        section{
            &.hero{
                a{
                    &.down-button{
                        bottom: 10px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    body {
        section{
            &.small-slideshow{

                .slideshow-container{
                    padding: 0;

                    #small-slideshow{
                        display: none;
                    }

                    #mobile-slideshow{
                        display: block;
                    }
                }
            }
            &.info{
                .container{
                    grid-template-areas:'bigText' 'info1' 'info2' 'img1' ;
                    
                    .info-title {
                        font-size: 1.8em;
                    }

                    .info-text-container {
                        border-top: none;
                        border-bottom: 1px solid var(--black);
                        padding-bottom: 10px;
                        .info-text{
                            font-size: 1.5em;
                        }
                    }
                    
                    img{
                        grid-area: img1;
                        align-self: center;
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        max-width: 100%;
                    }

                }
            }
        }
    }
}

@media screen and (max-width: 850px) {
    section:not(.hero){
        min-height: unset;
    }
    
    .big-img{
        padding: 50px 0;
    }

    body {
        section {
            &.hero {
                .hero-meta {
                    left:0;
                    top:50%;
                    width: 100%;
                    max-width: 100%;
                    height: 100%;
                    .hero-title{
                        font-size: 50px;
                        padding-left:10px;
                    }
                    .text-container {
                        width: 100%;
                        padding:15px;
                        height: 100%;
                    }
                }
            }

            &.three-split{
                grid-template-columns: 1fr;
                grid-template-rows: repeat(3, 1fr);
            }
        }
    }
}

@media screen and (max-width: 768px) {
    body{
        section{
            &.half-split{
                flex-direction: column;
                
                .split{
                    width: 100%;
                }
            }

            &.big-img{
                img{
                    padding: 0;
                    width: 100%;
                    max-width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    html{
        body{
            section{
                &.half-split{
                    h2{
                        padding-left: 0;
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 730px) {
}

@media screen and(max-width: 760px) {
    html{
        body{
            section.hero{
                .dark-mode{
                    display: none;
                }
            }
            nav{
                .hamburger{
                    display: inline-block;
                }

                .nav-list{
                    display: none;
                }
            }

            .image-slider{
                display: none;
            }

            section.hero{
                a {
                    &.down-button{
                        bottom: 10px;
                        display: flex;
                    }
                }
            }
        }
    }
}
// #endregion
// ==END TABLET==

// ==START MOBILE==
// #region
@media screen and (max-width: 320px) {
    
}
// #endregion
// ==END MOBILE==