// ==START TABLET==
// #region
@media screen and (max-width: 1200px) {
    body {
        section{
            &.small-slideshow{

                .slideshow-container{
                    padding: 0;

                    #small-slideshow{
                        display: none;
                    }

                    #mobile-slideshow{
                        display: block;
                    }
                }
            }
            &.info{
                .container{
                    grid-template-areas:'bigText' 'info1' 'info2' 'img1' 'img2' ;
                    
                    .info-text-container {
                        border-top: none;
                        border-bottom: 1px solid var(--black);
                        padding-bottom: 10px;
                        .info-text{
                            font-size: 1.5em;
                        }
                    }
                    img {
                        width:100%;
                    }
                    img:first-of-type{
                        grid-area: img1;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 850px) {
    section:not(.hero){
        min-height: unset;
    }
    
    .big-img{
        padding: 50px 0;
    }
}

@media screen and (max-width: 768px) {
    body{
        section{
            &.half-split{
                flex-direction: column;
                
                .split{
                    width: 100%;
                }
            }

            &.three-split{
                grid-template-columns: 1fr;
                grid-template-rows: repeat(3, 1fr);
            }

            &.big-img{
                img{
                    padding: 0;
                    width: 100%;
                    max-width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 920px) {
}

@media screen and (max-width: 730px) {
}

@media screen and(max-width: 640px) {
    html{
        body{
            nav{
                .hamburger{
                    display: inline-block;
                }

                .nav-list{
                    display: none;
                }
            }

            .image-slider{
                display: none;
            }

            .down-button{
                bottom: 10px;
            }
        }
    }
}
// #endregion
// ==END TABLET==

// ==START MOBILE==
// #region
@media screen and (max-width: 320px) {
    
}
// #endregion
// ==END MOBILE==