*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{

    scroll-snap-type: y mandatory;
    font-family: 'Inter', sans-serif;

    header{
        position: fixed;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 15px 35px;

        .logo{

        }

        nav{
            .nav-list{
                list-style-type: none;
                .nav-item{
                    display: inline-block;
                    padding: 0 10px;
                    text-transform: uppercase;
                    cursor: pointer;

                    &.active{
                        font-weight: 700;
                    }
                }
            }
        }
    }

    section{
        scroll-snap-align: start;
        height:100vh;

        &.info{
            display:grid;
            grid-template-areas: 'img1 bigText bigText''img2 info1 info2';
            grid-auto-columns: auto 1fr 1fr;
            align-items: center;
            img:last-of-type{
                grid-area:img2;
            }
            h3 {
                grid-area: bigText;
            }
        }
    }
}